#errors {
	background: #c00;
	color: #fff;
	display: none;
	margin: -20px -20px 20px;
	padding: 20px;
	white-space: pre-wrap;
}

body {
	margin-top: 0;
	margin-left: 200px;
	padding: 0;
	padding-left: 10px;
	font-family: arial;

	&.resume-wrapper {
		margin: 0 !important;
		padding: 0 !important;

		.app-nav {
			display: none !important;
		}
}
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.clearfix { 
   display: inline-block; 
   display: block; 

   &:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

* html .clearfix { 
   height: 1%; 
}

.logo {
	background-color: #ff0000;
	margin-top: 5px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 50%;
	
	line-height: 80px;
	text-align: center;
	font-size: 45px;
	font-family: 'Oswald', sans-serif;
	background-size: 150px;
	
	span {
		display: none;
	}
}

.app-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 195px;
	z-index: 1000;

	&.visible {
		transition-property: 'left';
		transition-duration: .75s;
		left: 0;
	}

	&.hidden {
		transition-property: 'left';
		transition-duration: .75s;
		left: -195px;

		&.toggle {
			background-color: dodgerblue;
			transition-property: 'background-color';
			transition-duration: .75s;
			color: #fff;
		}
	}

	.inner {
		position: relative;
		background-color: #fff;
		box-shadow: 0 1px 15px rgba(0,0,0, .22);
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		z-index: 1000;
		height: 100%;
		width: 100%;
		top: -15px;
		padding-top: 15px;
	}

	.toggle {
		display: none;
		position: absolute;
		top: 24px;
		right: 15px;
		width: 50px;
		height: 50px;
		border: 1px solid rgba(0,0,0, .22);
		z-index: 1001;
		text-align: center;
		font-size: 32px;
		line-height: 50px;
		background-color: dodgerblue;
		color: #fff;
	}
	
	.social {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		border-top: 1px solid #ccc;
	
		a {
			text-decoration: none;
			font-size: 30px;
			color: #999;
			padding: 7px;
		}

		.version {
			position: absolute;
			font-size: 10px;
			color: grey;
			top: -20px;
			text-align: center;
			width: 100%;

			a {
				font-size: 12px;
				color: dodgerblue;
			}
		}
	}
	
	ul {
		display: block;
		list-style: none;
		margin-left: 0;
		padding: 0;

		li {
			display: block;
		
			a {
				padding: 20px;
				display: block;
				text-decoration: none;
				padding-left: 25px;
				padding-right: 25px;
				min-width: 80px;
				text-align: center;
				margin-bottom: 10px;
				text-transform: uppercase;
				color: #000;

				&:visited {
					color: #000;
				}
			
				&:hover, &.active {
					background-color: dodgerblue;
					color: #fff;
				/*	transition-property: 'background-color';
					transition-duration: 1s;*/
					cursor: pointer;
				}
			}
		}
	}
}

.projects {
    margin-bottom: 50px;

	.search-icon {
		font-size: 40px;
		color: #ccc;
		position: absolute;
		top: 29px;
		z-index: 100;
		left: 24px;
	}

	.filters {
		position: relative;
		margin-bottom: 20px;
		margin-right: 20px;
		margin-top: 12px;
		font-size: 15px;
		background-color: #efefef;
        padding: 25px 20px 25px 20px;
        
        &:hover {
            cursor: text;
        }

		.result-count {
			position: absolute;
			bottom: 5px;
			left: 50%;
			margin-left: -25px;
			color: #999;
		}

		.inner {
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: row;
			background-color: white;
			padding: 10px;

			input[type=text] {
				position: relative;
				border: 0;
				font-size: 22px;
				text-align: left;
				display: block;
				margin-left: 10px;
				max-width: 95%;

				&:focus {
					outline: none;
				}
			}

			a.tag {
				display: inline-block;
				border: 1px solid #999;
				border-radius: 4px;
				font-size: 14px;
				text-decoration: none;
				padding: 5px 15px 5px 15px;
				background-color: dodgerblue;
				color: white;
				margin-right: 5px;

				span {
					&:after {
						content: '  x';
					}
				}
			}
		}

		.auto-complete {
			display: block;
			position: absolute;
			top: 79px;
			left: 26px;
			width: 92%;
			background-color: white;
			box-shadow: 0 5px 10px rgba(0,0,0,.22);
			z-index: 2;
			min-height: 100px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					padding: 5px;
					background-color: white;
					color: black;

					&.active, &:hover {
						background-color: dodgerblue;
						color: white;
						cursor: pointer;
					}

				}
			}

		}
    }
    	
	ul.plist {
		margin: 0;
		padding: 0;
        list-style: none;

        &:last-child li {
            margin-bottom: 50px;
        }

		li {
			display: block;
			width: 50%;
			margin-bottom: 10px;
			float: left;
            height: 400px;
            

		
			h4 {
				padding: 0;
				margin: 0;
				margin-bottom: 10px;
			}
			
			.panel {
				position: relative;
				padding: 20px;
				padding-top: 12px;
				background-color: #eee;
				height: 90%;
				margin-right: 18px;
			}

			a img {
				width: 80%;
			}
		
			.inner {
				position: absolute;
				top: 45px;
				right: 15px;
				bottom: 15px;
				left: 15px;
				background-color: #fff;
				padding: 10px;
				display: block;
				
				.desc {
					background-color: rgba(255, 255, 255, .75);
					padding: 15px;
					border-radius: 3px;
					color: #000;
					position: absolute;
					bottom: 10px;
					left: 10px;
					right: 10px;
					min-height: 40px;
					text-align: center;
					border: 1px solid #ccc;
				}
			}
		}
	}
}

.resume {
	position: relative;
	max-width: 1000px;
	min-height: 1200px;
	margin: 30px auto 30px auto;
	background-color: #f3f3f3;
	-webkit-print-color-adjust: exact;

	.sidebar {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 275px;
		background-color: maroon;
		color: white;

		// for printing
		.logo {
			margin-top: 40px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 150px;
			height: 150px;
		}

		.name {
			text-align: center;
			margin-bottom: 45px;

			.first {
				letter-spacing: 3px;
				font-size: 40px;
			}

			.last {
				letter-spacing: 3px;
				font-size: 40px;
				font-weight: bold;
			}

			h3 {
				letter-spacing: 5px;
				font-weight: lighter;
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				padding: 0;
				color: red;
			}
		}

		.sub {
			margin-left: 15px;
			margin-bottom: 45px;
			h4 {
				font-weight: bold;
				letter-spacing: 3px;
				margin-bottom: 5px;

				i {
					margin-right: 4px;
				}
			}
		}

		.sect {
			margin-left: 15px;
			margin-bottom: 10px;
			a {
				color: white;
				text-decoration: none;
			}

			i {
				margin-right: 9px;
				font-size: 22px;
				top: 3px;
				position: relative;
			}

			&.objective {
				line-height: 25px;
				padding-right: 20px;
			}
		}
	}
	
	.content {
		margin-left: 275px;
		padding: 20px;

		h2 {
			color: #999;
			width: 147px;
			background: maroon;
			padding: 10px;
			color: red;
			text-align: center;
			/* border-radius: 5px; */
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: lighter;
			font-size: 17px;
			position: relative;
			left: -10px;
			margin-bottom: 10px;

			&.projects {
				width: 250px;
			}
		}
	}
}

.about {
	position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 400px;
    margin-left: -200px;
    padding-left: 98px;
    font-family: 'Oswald', sans-serif;
    height: 175px;
	margin-top: -125px;
	
	h1 {
		padding: 0;
		margin-bottom: 5px;
		font-weight: 400;
	}

	h3 {
		font-weight: 100;
		padding: 0;
		margin-top: 0;
	}
}

@media (max-width: 1100px) {
	.projects ul.plist li {
		display: block;
		width: 100%;
	}
}

@media (max-width: 800px) {
	.app-nav .toggle {
		display: block;
	}
	
	.about {
		padding-left: 0;
	}
	
	body {
		margin-left: 0;
		margin-top: 110px;
		padding-bottom: 50px;
	}

	.logo {
		background-image: none !important;
		background-color: #fff;
		border: 3px solid #000;
		width: 80px;
		height: 80px;
		margin-top: 8px;
		margin-left: 8px;

		span {
			display: block;;
		}
	}
	
	.app-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100px;
		width: 100%;

		.social {
			position: fixed;
			background-color: #fff;

			.version {
				position: fixed;
				left: -8px;
				bottom: 12px;
				z-index: 100;
				width: 100px;
				top: auto;
			}
		}
		
		ul {
			display: none;
			background-color: #fff;
			margin-top: -9px;
			padding-top: 10px;
			box-shadow: 0 7px 10px rgba(0, 0, 0, 0.22);

			&.visible {
				display: block;
			}
		}
	}
}

@media (max-width: 640px) {
	.projects ul li .panel a.inner {
		background-position: center top !important;
	}
	
	.about {
		width: 300px;
		margin-left: -150px;
	}
}

@media print {
	.no-print, .no-print * {
		display: none !important;
	}

	.resume  {
		margin-top: 0;
		min-height: 950px;

		.name {
			margin-top: 50px;
		}
	}

	body {
		margin: 0 !important;
		padding: 0 !important;
	}
}